# Port des Backend-Servers (Standard: 5172)
PORT=5172

# CORS Origin (für Produktion setzen)
CORS_ORIGIN=https://gravijet.eu

# Passwort für Spieler (Standard: WOLFGAME)
PLAYER_PASSWORD=WOLFGAME

# Passwort für Admins (Standard: WOLFGAMEADMIN)
ADMIN_PASSWORD=WOLFGAMEADMIN
