# Port des Backend-Servers (Standard: 3000)
PORT=3000

# Passwort für Spieler (Standard: JUGENDINNSBRUCK)
PLAYER_PASSWORD=JUGENDINNSBRUCK

# Passwort für Admins (Standard: JUGENDADMIN)
ADMIN_PASSWORD=JUGENDADMIN
